<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-dark">

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom mb-1 ">
        <div class="container">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                @if (User.IsInRole("Admin"))
                {
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-between align-items-center">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-light" })</li>
                        <li>@Html.ActionLink("Prodotti", "Index", "Prodotto", new { area = "" }, new { @class = "nav-link text-light" })</li>
                        <li>@Html.ActionLink("Ordini Attivi", "Index", "Ordine", new { area = "" }, new { @class = "nav-link text-light" })</li>
                        <li>@Html.ActionLink("Riepilogo Giornata", "Index", "Query", new { area = "" }, new { @class = "nav-link text-light" })</li>
                        <li>@Html.ActionLink("LogOut", "Logout", "Auth", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    </ul>
                }
                else if (User.IsInRole("User"))
                {
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-between align-items-center">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-light" })</li>
                        <li>@Html.ActionLink("Stato Ordinazione", "Index", "DettaglioOrdine", new { area = "" }, new { @class = "nav-link text-light" })</li>
                        <li>Benvenuto @User.Identity.Name</li>
                        <li>@Html.ActionLink("LogOut", "Logout", "Auth", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-end">
                        <li>@Html.ActionLink("LogIn", "Login", "Auth", new { area = "" }, new { @class = "nav-link text-light" })</li>
                        <li>@Html.ActionLink("Sign In", "SignIn", "Auth", new { area = "" }, new { @class = "nav-link text-light" })</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="fw-bold text-center my-0">DotNet Application</p>
            <p class="text-center my-0">&copy; @DateTime.Now.Year</p>
            <div class="d-flex flex-column align-items-center">
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
